<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Web CV - Kosternyi V.O.</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header>
            <h1>Web CV - Kosternyi V.O.</h1>
            <aside>
                <h2>Phone number</h2>
                <p>067-738-92-24</p>
            </aside>
        </header>
        <main>
            <section>
                <h2>Summary</h2>
                <p>I am from Kryvyi Rih. I am a third-year student at the Semen Kuznets Kharkiv National University of Economics.</p>
                <p>I am fond of computer games and their development.</p>
            </section>
            <section>
                <h2>Education</h2>
                <p>School №3, 2010-2021.</p>
                <p>Kharkiv National University of Economics named after Simon Kuznets, 2021-2025.</p>
            </section>
            <section>
                <h2>Work Experience</h2>
                <p>1С enterprise software operator in a "Stihl" equipment store for 5 month</p>
            </section>
        </main>
    </body>
</html>